
* {
    /* color:white; */
}
html, body, #content {
    height: auto;
}

input {
    margin: 10px auto;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

html::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: linear-gradient( 115deg,
      rgba(78, 78, 80, 0.75), 
      rgba(19, 19, 26, 0.95)
    ), url("gym.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
}

.form-title {
    text-align: center;
    padding: 5px 0 10px;
}

.form-box {
    background-color: RGB(255,255,255,0.60);
    width: 450px;
    padding: 20px;
    border-radius: 20px;
    margin: 5vh auto;
}

.login {
    margin: 30vh auto;
}

.link-text {
    font-size: .75rem;
}

nav {
    height: 7vh;
    border-radius: 60px 60px 0 0;
}

.nav-item {
    margin: auto 0;
}

.nav-link {
    padding: 0;
}

.fas, .far {
    color: white;
}

.svg {
    width: 40px;
    height: 40px;
    fill: #FFFFFF;
}

@media (max-width: 500px) {
    .form-box {
        width: 300px;
    }
}