
/* body {
    background-image: "barbell-light.svg";
    width:100%;
    color:aqua;
} */

nav {
    height: 7vh;
    border-radius: 60px 60px 0 0;
}

.nav-item {
    margin: auto 0;
}

.nav-link {
    padding: 0;
}

.fas, .far {
    color: white;
}

.svg {
    width: 40px;
    height: 40px;
    fill: #FFFFFF;
}