{% extends 'layout.html' %}

{% block title %}
    Profile Page
{% endblock %}

{% block content %}
    <div class="exercise-box">
        {% for target in targets %}
            <div class="card">
                <a href="/exercises/{{ target }}">
                    <img src="../static/images/{{ target }}.jpeg" class="card-img-top card-img" alt="...">
                </a>
                <a href="/exercises/{{ target }}">
                    <div class="centered">{{ target.capitalize() }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}