{% extends 'layout.html' %}

{% block title %}
    {{ target.capitalize() }} Exercises
{% endblock %}

{% block content %}
    <div class="page-box form-box accordion accordion-flush" id="target-exercise">
        <h1>{{ target.capitalize() }}</h1>
    {% for exercise in exercises %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading{{ exercise.id }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ exercise.id }}" aria-expanded="false" aria-controls="flush-collapse{{ exercise.id }}">
                {{ exercise.name.capitalize() }}
                </button>
            </h2>
            <div id="flush-collapse{{ exercise.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ exercise.id }}" data-bs-parent="#target-exercise">
                <div class="accordion-body">
                    <img src="{{ exercise.gif_url }}">
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}